#background{
    width:100%;
}
.bgelement{
    background-color:lightgrey;
    height: 1500px;
    width:100%;
}
/*This is the Head portion of the website containing the title and navigation menu formating/
pictures. */
.headspace{
    background-image:url('../images/Celestia.jpg');
    width:100%;
    height:300px;
    display: flex;
    align-items:center;
    justify-content: center;
}
/*formats text and position for the page title*/
#pagetitle{
    font-size: 72px;
    width:fit-content;
    border-radius: 15px;
    text-align: center;
}
/*This is the portion of the website that sticks to the top when scrolling down as a menu
Navigation menu needs to be nested in this portion*/
.navbg{
    box-sizing: border-box;
    width:100%;
    height:100px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, 
    rgba(0, 255, 255, 0.377) 35%, rgba(0, 213, 255, 0.774) 100%), 
    url('../images/Celestia.jpg');
    background-position-y: -300px;
    position:-webkit-sticky;
    position:sticky;
    top:0px;
    margin-bottom:0px;
    border:none;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*This code is to position and move around the navigation boxes as a whole*/
.navbox{
    font-size: 30px;
    list-style-type: none;
    padding: 10px 10px 10px 10px;
    width: fit-content;
    height:max-content;
}

.navmenu{
    text-align: center;
    font-size: 30px;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    color: white;
}
.navitems{
    border-radius: 5px;
    padding:5px 15px 5px 15px;
    margin-left: 20px;
    margin-right: 20px;
    width: 150px;
    display: inline;
    background-color: rgba(0, 0, 0, 0.5);
    
}
.navitems, a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 5px 10px 5px 10px;
}
.navitems, #navbtn:hover {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 10px 10px 10px;
    font-size: 35px;
}
.navitems, a:active {
    color: rgb(255, 255, 255);
}
/*Character dropdown menu*/
.Dropmenu{
    text-decoration: none;
    margin: 10px 10px 10px 10px;
}
.drop-content{
    display:none;
    position:absolute;
    font-size:20px;
    color: black;
}
.dropbtn{
    font-size: 30px;
    color: rgb(255, 255, 255);
}
/*Something isn't working right with this code...*/
.dropbtn{
    padding: 0px;
    font-size: 30px;
    margin-bottom: 0px;
    width:fit-content;
}
.dropbtn:hover .drop-content{
    display: block;
    text-decoration: none;
    z-index:5;
    height:fit-content;
    background-color: rgb(0,0,0,0.5);
    border:dashed rgb(0,0,0,0.5);
    margin-top: 10px;
    padding:0px;
}
#drplink{
    padding:0px;
    text-align: left;
    border:solid red;
}
.drop-content, #drplink:hover{
    color:magenta;
    font-size: 20px;
    padding:none;
}
.newtext{
    width:75%;
    border:solid black;
    margin-top:50px;
    margin-bottom: 50px;
    margin-left:auto;
    margin-right:auto;
    padding: 10px 10px 10px 10px;
    font-size: 52px;
    text-align:center;
}
footer{
    color:grey;
    Background-color: rgb(0,0,0,0.1);
    width:100%;
    padding:5px 5px 5px 5px;
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center;
    position:fixed;
    bottom:0px;
}
#footcent{
    text-align: center;
    margin:0px;
    padding-top: 10px;
    padding-bottom: 10px;
}