
body{
    background-image: url(Dadandi.jpg);
    Background-repeat: no-repeat;
    background-position: center;
}
.titlestyle{
font-size: 60px;
text-align: center;
color:purple;
margin-top: 20px;
}
.footerstyle{
    font-size: 2px;
    color:grey;
    text-align: center;
}
.copy{
    font-style: italic;
    color: lightblue;
}